<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="On" defaultRedirect="~/Error.aspx" />
  </system.web>
  <connectionStrings>
  <add name="DBConnectionString" 
    connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CarRentalServiceDB.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>